doctype html
html(lang="fa")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        title  js
        meta(name='viewport',content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', media='screen', href='css/main.css')

    body
        div(class="container")

            div(class="field")
                label(class="label")
                    |نام کاربری
                div(class="control")
                    input(id="usernameId", name="usernameId", class="input", type="text", placeholder="نام کاربری")
                p(class="help is-success")

            div(class="field")
                label(class="label")
                    |کدملی
                div(class="control")
                    input(id="codeId", name="codeId", class="input", type="number", placeholder="کدملی")
                p(class="help is-success")


            div(class="field")
                label(class="label")
                    |تلفن
                div(class="control")
                    input(id="telId", name="telId", class="input", type="text", placeholder="تلفن")
                p(class="help is-success")

            div(class="field")
                label(class="label")
                    |پسورد
                div(class="control")
                    input(id="passId", name="passId", class="input", type="password", placeholder="پسورد")
                p(class="help is-success")


            div(class="field")
                label(class="label")
                    |تکرار پسورد
                div(class="control")
                    input(id="cPassId", name="cPassId", class="input", type="password", placeholder="تکرار پسورد")
                p(class="help is-success")


            div(class="field")
                label(id="captcha")
             
            div(class="field")
                label(class="label")
                    | کد امنیتی
                div(class="control")
                    input(id="captchaId", name="captchaId", class="input", type="text", placeholder=" کد امنیتی")
                p(class="help is-success")
            
            div(class="field is-grouped center")
                div(class="control")
                    button(class="button is-success",id="checkValidation")
                        |ثبت نام
                    button(class="button", id="resetForm")
                        | از نو
  
            div(id="show", class="control")

            div(id="modal", class="modal")
                div(class="modal-background")
                div(class="modal-card")
                    header(class="modal-card-head")
                        p(class="modal-card-title")
                            |ثبت نام
                        button(id="closeModal", class="delete")
                    div(id="modal-card-body", class="modal-card-body")
 

     
            script(src="js/main.min.js")
